//
// Carousel
// --------------------------------------------------


// Wrapper for the slide container and indicators
.carousel {
	position: relative;
}

.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;

	> .item {
		display: none;
		position: relative;
		.transition(.6s ease-in-out left);

		// Account for jankitude on images
		> img,
		> a > img {
			&:extend(.img-responsive);
			line-height: 1;
		}
	}

	> .active,
	> .next,
	> .prev {
		display: block;
	}

	> .active {
		left: 0;
	}

	> .next,
	> .prev {
		position: absolute;
		top: 0;
		width: 100%;
	}

	> .next {
		left: 100%;
	}
	> .prev {
		left: -100%;
	}
	> .next.left,
	> .prev.right {
		left: 0;
	}

	> .active.left {
		left: -100%;
	}
	> .active.right {
		left: 100%;
	}

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: @carousel-control-width;
	opacity: @carousel-control-opacity;
	font-size: @carousel-control-font-size;
	color: @carousel-control-color;
	text-align: center;
	text-shadow: @carousel-text-shadow;
	// We can't have this transition here because WebKit cancels the carousel
	// animation if you trip this while in the middle of another animation.

	&.right {
		left: auto;
		right: 0;
	}

	// Hover/focus state
	&:hover,
		&:focus {
		outline: 0;
		color: @carousel-control-color;
		text-decoration: none;
		opacity: .9;
	}

	// Toggles
	.icon-prev,
	.icon-next {
		position: absolute;
		top: 50%;
		z-index: 5;
		display: inline-block;
		width:  (20 / 14rem);
		height: (20 / 14rem);
		margin-top: (-10 / 14rem);
		font-family: serif;
	}
	.icon-prev {
		left: 50%;
		margin-left: (-10 / 14rem);

		&:before {
			content: '\2039';// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
		}
	}
	.icon-next {
		right: 50%;
		margin-right: (-10 / 14rem);

		&:before {
			content: '\203a';// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
		}
	}
}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
	position: absolute;
	bottom: (10 / 14rem);
	left: 50%;
	z-index: 15;
	width: 60%;
	margin-left: -30%;
	padding-left: 0;
	list-style: none;
	text-align: center;

	li {
		display: inline-block;
		width:  (10 / 14rem);
		height: (10 / 14rem);
		margin: 1px;
		text-indent: -999px;
		border: 1px solid @carousel-indicator-border-color;
		border-radius: (10 / 14rem);
		cursor: pointer;

		// IE8-9 hack for event handling
		//
		// Internet Explorer 8-9 does not support clicks on elements without a set
		// `background-color`. We cannot use `filter` since that's not viewed as a
		// background color by the browser. Thus, a hack is needed.
		//
		// For IE9, we set alpha transparency for the best results possible.
		background-color: rgba(0,0,0,0); // IE9
	}
	.active {
		margin: 0;
		width:  (12 / 14rem);
		height: (12 / 14rem);
		background-color: @carousel-indicator-active-bg;
	}
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
	position: absolute;
	left: 15%;
	right: 15%;
	bottom: (20 / 14rem);
	z-index: 10;
	padding-top: (20 / 14rem);
	padding-bottom: (20 / 14rem);
	color: @carousel-caption-color;
	text-align: center;
	text-shadow: @carousel-text-shadow;
	& .btn {
		text-shadow: none; // No shadow for button elements in carousel-caption
	}
}


// Scale up controls for tablets and up
@media screen and (min-width: @screen-sm-min) {

	// Scale up the controls a smidge
	.carousel-control {
		.icon-prev,
		.icon-next {
			width: (30 / 14rem);
			height: (30 / 14rem);
			margin-top: (-15 / 14rem);
			font-size: (30 / 14rem);
		}
		.icon-prev {
			margin-left: (-15 / 14rem);
		}
		.icon-next {
			margin-right: (-15 / 14rem);
		}
	}

	// Show and left align the captions
	.carousel-caption {
		left: 20%;
		right: 20%;
		padding-bottom: (30 / 14rem);
	}

	// Move up the indicators
	.carousel-indicators {
		bottom: (20 / 14rem);
	}
}