//
// Entries
// --------------------------------------------------


// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.entry {
	// No need to set list-style: none; since .entry-item is block level
	margin-bottom: (20 / 14rem);
	padding-left: 0; // reset padding because ul and ol
}


// Individual list items
//
// Use on `li`s or `div`s within the `.entry` parent.

.entry-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: (10 / 14rem) (6 / 14rem);

	// Round the first and last items
	&:first-child {
		width: 100%;
	}
	&:last-child {
		margin-bottom: 0;
	}

	// Align badges within list items
	> .badge {
		float: right;
	}
	> .badge + .badge {
		margin-right: (5 / 14rem);
	}
}

.entry-item {
	// Disabled state
	&.disabled,
	&.disabled:hover,
		&.disabled:focus {
		background-color: @entry-disabled-bg;
		color: @entry-disabled-color;

		// Force color to inherit for custom content
		.entry-item-heading {
			color: inherit;
		}
		.entry-item-text {
			color: @entry-disabled-text-color;
		}
	}

	// Active class on item itself, not parent
	&.active,
	&.active:hover,
		&.active:focus {
		z-index: 2; // Place active items above their siblings for proper border styling
		color: @entry-active-color;
		background-color: @entry-active-bg;
		border-color: @entry-active-border;

		// Force color to inherit for custom content
		.entry-item-heading,
		.entry-item-heading > small,
		.entry-item-heading > .small {
			color: inherit;
		}
		.entry-item-text {
			color: @entry-active-text-color;
		}
	}
}


// Custom content options
//
// Extra classes for creating well-formatted content within `.entry-item`s.

.entry-item-heading {
	margin: 0 0 (5 / 14rem);
	font-size: inherit;
	text-transform: uppercase;

	a {
		color: #78ba56;
	}
}
.entry-item-text {
	margin: (5 / 14rem) 0 0;
	text-align: left;
}