//
// Forms
// --------------------------------------------------


// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	// Chrome and Firefox set a `min-width: min-content;` on fieldsets,
	// so we reset that to ensure it behaves more like a standard block element.
	// See https://github.com/twbs/bootstrap/issues/12359.
	min-width: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: @line-height-computed;
	font-size: @legend-font-size;
	line-height: inherit;
	color: @legend-color;
	border: 0;
	border-bottom: 1px solid @legend-border-color;
}

label {
	display: inline-block;
	margin-bottom: (5 / 14rem);
	font-weight: bold;
}


// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
	.box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
	margin: (4 / 14rem) 0 0;
	margin-top: (1 / 14) ~"rem \9"; // IE8-9
	line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
	display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
	display: block;
	width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
	height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	.tab-focus();
}

// Adjust output element
output {
	display: block;
	padding-top: @output-padding-vertical;
	font-size: @output-font-size;
	line-height: @output-line-height;
	color: @output-color;
}


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {
	display: block;
	width: 100%;
	padding: @input-padding-vertical @input-padding-horizontal;
	font-size: @input-font-size;
	font-weight: bold;
	line-height: @input-line-height;
	color: @input-color;
	text-align: center;
	background-color: @input-bg;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 2px solid @input-border;
	border-radius: @input-border-radius;
	.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

	// Customize the `:focus` state to imitate native WebKit styles.
	.form-control-focus();

	// Placeholder
	.placeholder();

	// Disabled and read-only inputs
	//
	// HTML5 says that controls under a fieldset > legend:first-child won't be
	// disabled if the fieldset is disabled. Due to implementation difficulty, we
	// don't honor that edge case; we style them as disabled anyway.
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		cursor: not-allowed;
		background-color: @input-bg-disabled;
		opacity: 1; // iOS fix for unreadable disabled content
	}

	// Reset height for `textarea`s
	textarea& {
		height: auto;
	}
}


// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
	-webkit-appearance: none;
}


// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group + .form-group {
	margin-top: (15 / 14rem);
}


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.checkbox {
	position: relative;
	display: block;
	min-height: @line-height-computed; // clear the floating input if there is no label text
	margin-top: (10 / 14rem);
	margin-bottom: (10 / 14rem);

	label {
		padding-left: (20 / 14rem);
		margin-bottom: 0;
		font-weight: normal;
		cursor: pointer;
	}
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
	position: absolute;
	margin-left: (-20 / 14rem);
	margin-top: (4 / 14) ~"rem \9";
}

.radio + .radio,
.checkbox + .checkbox {
	margin-top: (-5 / 14rem); // Move up sibling radios or checkboxes for tighter spacing
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
	&[disabled],
	&.disabled,
	fieldset[disabled] & {
		cursor: not-allowed;
	}
}
// These classes are used on elements with <label> descendants
.radio,
.checkbox {
	&.disabled,
	fieldset[disabled] & {
		label {
			cursor: not-allowed;
		}
	}
}


// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
	display: block; // account for any element using help-block
	margin-top: (5 / 14rem);
	margin-bottom: (10 / 14rem);
	color: lighten(@text-color, 25%); // lighten the text some for contrast
}