//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
	.container-fixed();

	@media (min-width: @screen-md-min) {
		width: @container-md;
	}
	@media (min-width: @screen-lg-min) {
		width: @container-lg;
	}
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
	.container-fixed();
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
	.make-row();
}


// Columns
//
// Common styles for small and large grid columns

.make-grid-columns();


// Small grid
//
// Columns, offsets, pushes, and pulls for small devices.

.make-grid(sm);


// Medium grid
//
// Columns, offsets, pushes, and pulls for medium devices.

@media (min-width: @screen-md-min) {
	.make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for large devices.

@media (min-width: @screen-lg-min) {
	.make-grid(lg);
}