.form-heading,
.twitter-heading {
	font-size: inherit;
	margin-top: 0;
}
.form-heading {
	color: #f9d800;
}
.twitter-heading {
	color: #78ba56;
}

.form-wrapper,
.twitter-wrapper {
	padding: (40 / 14rem) (15 / 14rem);
}
.form-wrapper {
	background-color: #f9d800;
}
.twitter-wrapper {
	background-color: #78ba56;
}

.twitter-heading,
.twitter-wrapper {
	max-width: 320px;
	width: 100%;
	float: right;
}

#home {
	background-color: fade(#141414, 80);

	.section-meta {
		font-size: (16 / 14rem);
	}
}

#work {
	.portfolio {
		background: content-box no-repeat;
		background-size: cover;
		position: relative;
		padding: (6 / 14rem);
		cursor: pointer;

		&:before {
			background-color: fade(#000, 50);
			position: absolute;
			left: (6 / 14rem);
			top: (6 / 14rem);
			right: (6 / 14rem);
			bottom: (6 / 14rem);
			content: ' ';
		}

		&:hover,
			&:focus {
			&:before {
				background-color: transparent;
			}
		}
	}

	#btn-more {
		font-weight: bold;
		color: #eb3266;

		&:before {
			display: block;
			font-size: (@font-size-base * 2);
			content: '+';
		}
	}
}

#contact {
	.method {
		display: block;
		margin-bottom: (40 / 14rem);
		text-align: left;
		color: #fff;

		@media (min-width: @screen-md-min) {
			&:first-child {
				margin-top: (25 / 14rem);
			}
		}

		&:before {
			display: inline-block;
			vertical-align: middle;
			background: url(img/sprites.png) no-repeat;
			margin-right: (15 / 14rem);
			width: 64px;
			height: 64px;
			content: ' ';
		}
	}

	.method-phone {
		&:before {
			background-position: -282px -130px;
		}
	}
	.method-email {
		&:before {
			background-position: -282px 0;
		}
	}
	.method-facebook {
		&:before {
			background-position: -282px -65px;
		}
	}
	.method-twitter {
		&:before {
			background-position: -282px -260px;
		}
	}
	.method-tumblr {
		&:before {
			background-position: -282px -195px;
		}
	}

	#btn-submit {
		margin: (40 / 14rem) 0 0 20px;
	}
}