//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {
	margin-bottom: 0;
	padding-left: 0; // Override default ul/ol
	list-style: none;
	&:extend(.clearfix all);

	> li {
		position: relative;
		display: block;

		> a {
			position: relative;
			display: block;
			padding: @nav-link-padding;
			&:hover,
				&:focus {
				text-decoration: none;
				background-color: @nav-link-hover-bg;
			}
		}

		// Disabled state sets text to gray and nukes hover/tab effects
		&.disabled > a {
			color: @nav-disabled-link-color;

			&:hover,
				&:focus {
				color: @nav-disabled-link-hover-color;
				text-decoration: none;
				background-color: transparent;
				cursor: not-allowed;
			}
		}
	}

	// Open dropdowns
	.open > a {
		&,
		&:hover,
			&:focus {
			background-color: @nav-link-hover-bg;
			border-color: @link-color;
		}
	}
}


// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {
	width: 100%;

	> li {
		float: none;
		> a {
			text-align: center;
			margin-bottom: (5 / 14rem);
		}
	}

	> .dropdown .dropdown-menu {
		top: auto;
		left: auto;
	}

	@media (min-width: @screen-sm-min) {
		> li {
			display: table-cell;
			width: 1%;
			> a {
				margin-bottom: 0;
			}
		}
	}
}