//
// Pager pagination
// --------------------------------------------------


.pager {
	padding-left: 0;
	margin: @line-height-computed 0;
	list-style: none;
	text-align: center;
	&:extend(.clearfix all);
	li {
		display: inline;
		> a,
		> span {
			display: inline-block;
			padding: (5 / 14rem) (14 / 14rem);
			background-color: @pager-bg;
			border: 1px solid @pager-border;
			border-radius: @pager-border-radius;
		}

		> a:hover,
			> a:focus {
			text-decoration: none;
			background-color: @pager-hover-bg;
		}
	}

	.next {
		> a,
		> span {
			float: right;
		}
	}

	.prev {
		> a,
		> span {
			float: left;
		}
	}

	.disabled {
		> a,
		> a:hover,
			> a:focus,
			> span {
			color: @pager-disabled-color;
			background-color: @pager-bg;
			cursor: not-allowed;
		}
	}

}