//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
	.box-sizing(border-box);
}
*:before,
*:after {
	.box-sizing(border-box);
}


// Body reset

html {
	font-size: 12px;
	line-height: (18 / 12);
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	@media (min-width: @screen-md-min) {
		font-size: 14px;
		line-height: (20 / 14);
	}
	@media (min-width: @screen-lg-min) {
		font-size: 16px;
		line-height: (22 / 16);
	}
}

body {
	font-family: @font-family-base;
	color: @text-color;
	background: @body-bg url(img/texture.png);
	background-size: 100% 100%;
	padding-top: 70px;

	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
		padding-top: 140px;
	}
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


// Links

a {
	color: @link-color;
	text-decoration: none;

	&:hover,
		&:focus {
		color: @link-hover-color;
		text-decoration: underline;
	}

	&:focus {
		.tab-focus();
	}
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
	margin: 0;
}


// Images

img {
	vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive,
[class*="wp-image-"],
[class*="attachment-"] {
	.img-responsive();
}


// Horizontal rules

hr {
	margin-top:    @line-height-computed;
	margin-bottom: @line-height-computed;
	border: 0;
	border-top: 1px solid @hr-border;
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}