//
// Sections
// --------------------------------------------------


// Base class
.section {
	background-color: @section-bg;
	.box-shadow(0 1px 1px rgba(0,0,0,.05));
	text-align: center;
}

// Section contents
.section-body {
	padding: @section-body-padding;
	&:extend(.clearfix all);
}

// Optional header
.section-header {
	padding: @section-header-padding;
	border-bottom: 1px solid transparent;
	.border-top-radius((@section-border-radius - (1 / 14rem)));
	position: relative;

	&:before {
		background: no-repeat;
		background-size: 100%;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		content: ' ';
		opacity: .8;
	}
}

.section-header-design {
	&:before {
		background-image: url(img/section-header-design.png);
	}
}
.section-header-inspire {
	&:before {
		background-image: url(img/section-header-inspire.png);
	}
}
.section-header-explore {
	&:before {
		background-image: url(img/section-header-explore.png);
	}
}
.section-header-engage {
	&:before {
		background-image: url(img/section-header-engage.png);
	}
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.section-title {
	margin-top: 0;
	margin-bottom: @line-height-computed;
	line-height: 1;
	position: relative;
	z-index: 1;
	color: #fff;
}

.section-meta {
	margin-left:  auto;
	margin-right: auto;

	@media (min-width: @screen-md-min) {
		width: 83.33333333%;
	}
	@media (min-width: @screen-lg-min) {
		width: 50%;
	}
}

// Optional footer (stays gray in every modifier class)
.section-footer {
	padding: @section-footer-padding;
	background-color: @section-footer-bg;
	border-top: 1px solid @section-inner-border;
	.border-bottom-radius((@section-border-radius - (1 / 14rem)));
}

.section-transition {
	background-attachment: fixed;
	padding-top: 35.68%;
}

.section-transition-design {
	background-color: fade(#f04765, 80);
}
.section-transition-inspire {
	background-color: fade(#4591c7, 80);
}
.section-transition-explore {
	background-color: fade(#66b13f, 80);
}
.section-transition-engage {
	background-color: fade(#f9d800, 80);
}