//
// Services
// --------------------------------------------------


// Mixin and adjust the regular image class
.service {
	display: block;
	padding: @service-padding;
	margin-bottom: @line-height-computed;
	border: 1px solid @service-border;
	border-radius: @service-border-radius;
	.transition(all .2s ease-in-out);

	@media (min-width: @screen-md-min) {
		&:nth-child(n + 4) {
			margin-top: (120 / 14rem);
		}
	}

	> .icon {
		background: url(img/sprites.png) content-box no-repeat;
		display: inline-block;
		height: 105px;
	}

	.icon-brand-development {
		background-position: -213px -157px;
		padding: ((105 - 95px) / 2) 0;
		width: 65px;
	}
	.icon-marketing {
		background-position: -93px -178px;
		padding: ((105 - 74px) / 2) 0;
		width: 119px;
	}
	.icon-web-development {
		background-position: -101px 0;
		padding: ((105 - 88px) / 2) 0;
		width: 87px;
	}

	.icon-graphic-design {
		background-position: 0 -106px;
		padding: ((105 - 67px) / 2) 0;
		width: 104px;
	}
	.icon-exhibit-design {
		background-position: 0 -174px;
		padding: ((105 - 78px) / 2) 0;
		width: 92px;
	}
	.icon-market-research {
		background-position: 0 0;
		padding: ((105 - 105px) / 2) 0;
		width: 100px;
	}

	.icon-printing {
		background-position: -193px -71px;
		padding: ((105 - 85px) / 2) 0;
		width: 84px;
	}
	.icon-social-media {
		background-position: -105px -89px;
		padding: ((105 - 86px) / 2) 0;
		width: 87px;
	}
	.icon-writing-editing {
		background-position: -189px 0;
		padding: ((105 - 70px) / 2) 0;
		width: 92px;
	}

	// Image captions
	.caption {
		padding: @service-caption-padding;
		color: @service-caption-color;
	}

	.title {
		font-size: inherit;
		color: #fff;
	}
}