//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: @headings-font-family;
	font-weight: @headings-font-weight;
	line-height: @headings-line-height;
	color: @headings-color;

	small,
	.small {
		font-weight: normal;
		line-height: 1;
		color: @headings-small-color;
	}
}

h1, .h1,
h2, .h2,
h3, .h3 {
	margin-top: @line-height-computed;
	margin-bottom: (@line-height-computed / 2);

	small,
	.small {
		font-size: 65%;
	}
}
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-top: (@line-height-computed / 2);
	margin-bottom: (@line-height-computed / 2);

	small,
	.small {
		font-size: 75%;
	}
}

h1, .h1 { font-size: @font-size-h1; }
h2, .h2 { font-size: @font-size-h2; }
h3, .h3 { font-size: @font-size-h3; }
h4, .h4 { font-size: @font-size-h4; }
h5, .h5 { font-size: @font-size-h5; }
h6, .h6 { font-size: @font-size-h6; }


// Body text
// -------------------------

p {
	margin: 0 0 (@line-height-computed / 2);
}


// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
	font-size: 85%;
}

// Undo browser default styling
cite {
	font-style: normal;
}

mark,
.mark {
	background-color: @state-warning-bg;
	padding: .2em;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Contextual colors
.text-muted {
	color: @text-muted;
}


// Page header
// -------------------------

.page-header {
	padding-bottom: ((@line-height-computed / 2) - (1/ 14rem));
	margin: (@line-height-computed * 2) 0 @line-height-computed;
	border-bottom: 1px solid @page-header-border-color;
}


// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
	margin-top: 0;
	margin-bottom: (@line-height-computed / 2);
	ul,
	ol {
		margin-bottom: 0;
	}
}

// Description Lists
dl {
	margin-top: 0; // Remove browser default
	margin-bottom: @line-height-computed;
}
dt,
dd {
	line-height: @line-height-base;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0; // Undo browser default
}


// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted @abbr-border-color;
}
.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

// Blockquotes
blockquote {
	padding: @blockquote-padding;
	margin: 0;
	font-size: @blockquote-font-size;
	font-weight: bold;
	color: @blockquote-color;

	p {
		&:before {
			content: '\201C'; // left double quotation
		}
		&:after {
			content: '\201D'; // right double quotation
		}
	}

	cite {
		display: block;
		font-size: 80%; // back to default font-size
		line-height: @line-height-base;

		&:before {
			content: '\007E \00A0'; // tilde, nbsp
		}
	}
}

// Quotes
blockquote:before,
blockquote:after {
	content: "";
}

// Addresses
address {
	margin-bottom: @line-height-computed;
	font-style: normal;
	line-height: @line-height-base;
}