//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 46.7%); // #777
@gray-lighter:           lighten(#000, 93.5%); // #eee

@brand-primary:         #f9d800;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #000;
//** Global text color on `<body>`.
@text-color:            @gray-light;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          1rem;

@font-size-h1:            (@font-size-base * 2.60); // ~2.60rem
@font-size-h2:            (@font-size-base * 2.15); // ~2.15rem
@font-size-h3:            (@font-size-base * 1.70); // ~1.70rem
@font-size-h4:            (@font-size-base * 1.25); // ~1.25rem
@font-size-h5:            @font-size-base;
@font-size-h6:            (@font-size-base * 0.85); // ~0.85rem

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        (20 / 14); // 1.428571429
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    (@font-size-base * @line-height-base); // ~1.428571429rem

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    400;
@headings-line-height:    1.1;
@headings-color:          inherit;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     (6 / 14rem);
@padding-base-horizontal:   (12 / 14rem);

@padding-large-vertical:    (8 / 14rem);
@padding-large-horizontal:  (16 / 14rem);

@padding-small-vertical:    (5 / 14rem);
@padding-small-horizontal:  (10 / 14rem);

@border-radius-base:        (4 / 14rem);
@border-radius-large:       (6 / 14rem);
@border-radius-small:       (3 / 14rem);

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    #fff;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          4px;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            (8 / 14rem);
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  (5 / 14rem);

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
@table-bg-hover:                #f5f5f5;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            #ddd;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                bold;

@btn-padding-vertical:           8px;
@btn-padding-horizontal:         28px;
@btn-font-size:                  10px;
@btn-line-height:                1.6;
@btn-border-radius:              @border-radius-small;

@btn-default-color:              #181818;
@btn-default-bg:                 #fff;
@btn-default-border:             darken(@btn-default-bg, 5%);

@btn-primary-color:              #181818;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-inverse-color:              @brand-primary;
@btn-inverse-bg:                 #000;
@btn-inverse-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              #181818;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-info-color:                 #181818;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-warning-color:              #181818;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #181818;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-link-disabled-color:        @gray-light;


//== Forms
//
//##

//** `<input>` background color
@input-bg:                       #fbe240;
//** `<input disabled>` background color
@input-bg-disabled:              @gray-lighter;

@input-padding-vertical:         8px;
@input-padding-horizontal:       16px;
@input-font-size:                10px;
@input-line-height:              1.6;

//** Text color for `<input>`s
@input-color:                    #181818;
//** `<input>` border color
@input-border:                   #fff;
//** `<input>` border radius
@input-border-radius:            @border-radius-small;
//** Border color for inputs on focus
@input-border-focus:             #66afe9;

//** Placeholder text color
@input-color-placeholder:        @gray-light;

@legend-font-size:               (@input-font-size * 1.5);
@legend-color:                   @gray-dark;
@legend-border-color:            #e5e5e5;

@output-padding-vertical:        (@input-padding-vertical + (1/ 14rem));
@output-padding-horizontal:      (@input-padding-horizontal + (1/ 14rem));
@output-font-size:               @input-font-size;
@output-line-height:             @input-line-height;
@output-color:                   @input-color;

//** Background color for textual input addons
@input-group-addon-bg:           @gray-lighter;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
@dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
@dropdown-border:                rgba(0,0,0,.15);
//** Divider color for between dropdown items.
@dropdown-divider-bg:            #e5e5e5;

//** Dropdown link text color.
@dropdown-link-color:            @gray-dark;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      darken(@gray-dark, 5%);
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         #f5f5f5;

//** Active dropdown menu item text color.
@dropdown-link-active-color:     @component-active-color;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:        @component-active-bg;

//** Disabled dropdown menu item background color.
@dropdown-link-disabled-color:   @gray-light;

//** Text color for headers within dropdown menus.
@dropdown-header-color:          @gray-light;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Small screen / phone
@screen-sm-min:              480px;

// Medium screen / tablet
@screen-md-min:              768px;

// Large screen / desktop
@screen-lg-min:              992px;

// So media queries don't overlap when required, provide a maximum
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-md-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Medium screen / tablet
@container-md:                 ((720px + @grid-gutter-width));

// Large screen / desktop
@container-lg:                 ((940px + @grid-gutter-width));


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    70px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-small;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          (((@navbar-height / 14) - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-color:                     @gray-light;
@navbar-bg:                        #222;
@navbar-border:                    darken(@navbar-bg, 10%);

// Navbar links
@navbar-link-color:                @gray-light;
@navbar-link-hover-color:          #fff;
@navbar-link-hover-bg:             transparent;
@navbar-link-active-color:         @navbar-link-hover-color;
@navbar-link-active-bg:            darken(@navbar-bg, 10%);
@navbar-link-disabled-color:       #444;
@navbar-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-brand-color:               @navbar-link-color;
@navbar-brand-hover-color:         #fff;
@navbar-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-toggle-hover-bg:           #333;
@navbar-toggle-icon-bar-bg:        #fff;
@navbar-toggle-border-color:       #333;


//== Navs
//
//##

//=== Shared nav styles
@nav-link-padding:                          (10 / 14rem) (15 / 14rem);
@nav-link-hover-bg:                         @gray-lighter;

@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

@nav-open-link-hover-color:                 #fff;

//== Tabs
@nav-tabs-border-color:                     #ddd;

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @gray;
@nav-tabs-active-link-hover-border-color:   #ddd;

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     @body-bg;

//== Pills
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;


//== Pagination
//
//##

@pagination-color:                     @link-color;
@pagination-bg:                        #fff;
@pagination-border:                    #ddd;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @gray-lighter;
@pagination-hover-border:              #ddd;

@pagination-active-color:              #fff;
@pagination-active-bg:                 @brand-primary;
@pagination-active-border:             @brand-primary;

@pagination-disabled-color:            @gray-light;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ddd;


//== Pager
//
//##

@pager-bg:                             @pagination-bg;
@pager-border:                         @pagination-border;
@pager-border-radius:                  (15 / 14rem);

@pager-hover-bg:                       @pagination-hover-bg;

@pager-active-bg:                      @pagination-active-bg;
@pager-active-color:                   @pagination-active-color;

@pager-disabled-color:                 @pagination-disabled-color;


//== Jumbotron
//
//##

@jumbotron-padding:              (30 / 14rem);
@jumbotron-color:                inherit;
@jumbotron-bg:                   @gray-lighter;
@jumbotron-heading-color:        inherit;
@jumbotron-font-size:            ceil((@font-size-base * 1.5));


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:             #3c763d;
@state-success-bg:               #dff0d8;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                #31708f;
@state-info-bg:                  #d9edf7;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             #8a6d3b;
@state-warning-bg:               #fcf8e3;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

@state-danger-text:              #a94442;
@state-danger-bg:                #f2dede;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 5%);


//== Tooltips
//
//##

//** Tooltip max width
@tooltip-max-width:           200px;
//** Tooltip text color
@tooltip-color:               #fff;
//** Tooltip background color
@tooltip-bg:                  #000;
@tooltip-opacity:             .9;

//** Tooltip arrow width
@tooltip-arrow-width:         5px;
//** Tooltip arrow color
@tooltip-arrow-color:         @tooltip-bg;


//== Popovers
//
//##

//** Popover body background color
@popover-bg:                          #fff;
//** Popover maximum width
@popover-max-width:                   276px;
//** Popover border color
@popover-border-color:                rgba(0,0,0,.2);

//** Popover title background color
@popover-title-bg:                    darken(@popover-bg, 3%);

//** Popover arrow width
@popover-arrow-width:                 10px;
//** Popover arrow color
@popover-arrow-color:                 #fff;

//** Popover outer arrow width
@popover-arrow-outer-width:           (@popover-arrow-width + 1);
//** Popover outer arrow color
@popover-arrow-outer-color:           fadein(@popover-border-color, 5%);


//== Labels
//
//##

@label-default-bg:            @gray-light;
@label-primary-bg:            @brand-primary;
@label-success-bg:            @brand-success;
@label-info-bg:               @brand-info;
@label-warning-bg:            @brand-warning;
@label-danger-bg:             @brand-danger;

//** Default label text color
@label-color:                 #fff;
//** Default text color of a linked label
@label-link-hover-color:      #fff;


//== Modals
//
//##

//** Padding applied to the modal body
@modal-inner-padding:         (15 / 14rem);

//** Padding applied to the modal title
@modal-title-padding:         (15 / 14rem);
//** Modal title line-height
@modal-title-line-height:     @line-height-base;

//** Background color of modal content area
@modal-content-bg:                             #fff;
//** Modal content border color
@modal-content-border-color:                   rgba(0,0,0,.2);

//** Modal backdrop background color
@modal-backdrop-bg:           #000;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .5;
//** Modal header border color
@modal-header-border-color:   #e5e5e5;
//** Modal footer border color
@modal-footer-border-color:   @modal-header-border-color;

@modal-width:                 600px;


//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               (15 / 14rem);
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      bold;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-border;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-border;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-border;

@alert-danger-bg:             @state-danger-bg;
@alert-danger-text:           @state-danger-text;
@alert-danger-border:         @state-danger-border;


//== Progress bars
//
//##

//** Background color of the whole progress component
@progress-bg:                 #f5f5f5;
//** Progress bar text color
@progress-bar-color:          #fff;

@progress-bar-bg:             @brand-primary;
@progress-bar-success-bg:     @brand-success;
@progress-bar-warning-bg:     @brand-warning;
@progress-bar-danger-bg:      @brand-danger;
@progress-bar-info-bg:        @brand-info;


//== List group
//
//##

//** Background color on `.list-group-item`
@list-group-bg:                 #fff;
//** `.list-group-item` border color
@list-group-border:             #ddd;
//** List group border radius
@list-group-border-radius:      @border-radius-base;

//** Background color of single list items on hover
@list-group-hover-bg:           #f5f5f5;
//** Text color of active list items
@list-group-active-color:       @component-active-color;
//** Background color of active list items
@list-group-active-bg:          @component-active-bg;
//** Border color of active list elements
@list-group-active-border:      @list-group-active-bg;
//** Text color for content within active list items
@list-group-active-text-color:  lighten(@list-group-active-bg, 40%);

//** Text color of disabled list items
@list-group-disabled-color:      @gray-light;
//** Background color of disabled list items
@list-group-disabled-bg:         @gray-lighter;
//** Text color for content within disabled list items
@list-group-disabled-text-color: @list-group-disabled-color;

@list-group-link-color:         #555;
@list-group-link-hover-color:   @list-group-link-color;
@list-group-link-heading-color: #333;


//== Entry
//
//##

//** Background color on `.entry-item`
@entry-bg:                      #fff;
//** `.entry-item` border color
@entry-border:                  #ddd;
//** Entry border radius
@entry-border-radius:           @border-radius-small;

//** Background color of single list items on hover
@entry-hover-bg:                #f5f5f5;
//** Text color of active list items
@entry-active-color:            @component-active-color;
//** Background color of active list items
@entry-active-bg:               @component-active-bg;
//** Border color of active list elements
@entry-active-border:           @entry-active-bg;
//** Text color for content within active list items
@entry-active-text-color:       lighten(@entry-active-bg, 40%);

//** Text color of disabled list items
@entry-disabled-color:           @gray-light;
//** Background color of disabled list items
@entry-disabled-bg:              @gray-lighter;
//** Text color for content within disabled list items
@entry-disabled-text-color:      @entry-disabled-color;

@entry-link-color:              #555;
@entry-link-hover-color:        @entry-link-color;
@entry-link-heading-color:      #333;


//== Panels
//
//##

@panel-bg:                    #fff;
@panel-body-padding:          (15 / 14rem);
@panel-header-padding:        (10 / 14rem) (15 / 14rem);
@panel-footer-padding:        @panel-header-padding;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels
@panel-inner-border:          #ddd;
@panel-footer-bg:             #f5f5f5;

@panel-default-text:          @gray-dark;
@panel-default-border:        #ddd;
@panel-default-header-bg:     #f5f5f5;

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-header-bg:     @brand-primary;

@panel-success-text:          @state-success-text;
@panel-success-border:        @state-success-border;
@panel-success-header-bg:     @state-success-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           @state-info-border;
@panel-info-header-bg:        @state-info-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        @state-warning-border;
@panel-warning-header-bg:     @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         @state-danger-border;
@panel-danger-header-bg:      @state-danger-bg;


//== Sections
//
//##

@section-bg:                  fade(@body-bg, 80);
@section-body-padding:        (63 / 14rem) (15 / 14rem) (48 / 14rem);
@section-header-padding:      2.5% (15 / 14rem) 0;
@section-footer-padding:      (30 / 14rem) (15 / 14rem);
@section-border-radius:       @border-radius-small;

//** Border color for elements within sections
@section-inner-border:        transparent;
@section-footer-bg:           #0a0a0a;


//== Thumbnails
//
//##

//** Padding around the thumbnail image
@thumbnail-padding:           (4 / 14rem);
//** Thumbnail background color
@thumbnail-bg:                @body-bg;
//** Thumbnail border color
@thumbnail-border:            #ddd;
//** Thumbnail border radius
@thumbnail-border-radius:     @border-radius-base;

//** Custom text color for thumbnail captions
@thumbnail-caption-color:     @text-color;
//** Padding around the thumbnail caption
@thumbnail-caption-padding:   (9 / 14rem);


//== Services
//
//##

//** Padding around the service image
@service-padding:             (6 / 14rem);
//** Service background color
@service-bg:                  @body-bg;
//** Service border color
@service-border:              transparent;
//** Service border radius
@service-border-radius:       @border-radius-small;

//** Custom text color for service captions
@service-caption-color:       @text-color;
//** Padding around the service caption
@service-caption-padding:     (12 / 14rem);


//== Wells
//
//##

@well-bg:                     #f5f5f5;
@well-border:                 darken(@well-bg, 7%);


//== Badges
//
//##

@badge-color:                 #fff;
//** Linked badge text color on hover
@badge-link-hover-color:      #fff;
@badge-bg:                    @gray-light;

//** Badge text color in active nav link
@badge-active-color:          @link-color;
//** Badge background color in active nav link
@badge-active-bg:             #fff;

@badge-font-weight:           bold;
@badge-line-height:           1;
@badge-border-radius:         (10 / 14rem);


//== Breadcrumbs
//
//##

@breadcrumb-padding-vertical:   (8 / 14rem);
@breadcrumb-padding-horizontal: (15 / 14rem);
//** Breadcrumb background color
@breadcrumb-bg:                 #f5f5f5;
//** Breadcrumb text color
@breadcrumb-color:              #ccc;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color:       @gray-light;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator:          "/";


//== Carousel
//
//##

@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

@carousel-control-color:                      @body-bg;
@carousel-control-width:                      15%;
@carousel-control-opacity:                    .5;
@carousel-control-font-size:                  (@font-size-base * 1.25);

@carousel-indicator-active-bg:                @body-bg;
@carousel-indicator-border-color:             fade(@body-bg, 80);

@carousel-caption-color:                      #fff;


//== Close
//
//##

@close-font-weight:           bold;
@close-color:                 #000;
@close-text-shadow:           0 1px 0 #fff;


//== Code
//
//##

@code-color:                  #c7254e;
@code-bg:                     #f9f2f4;

@kbd-color:                   #fff;
@kbd-bg:                      #333;

@pre-bg:                      #f5f5f5;
@pre-color:                   @gray-dark;
@pre-border-color:            #ccc;
@pre-scrollable-max-height:   340px;


//== Type
//
//##

//** Horizontal offset for forms and lists.
@component-offset-horizontal: 180px;
//** Text muted color
@text-muted:                  @gray-light;
//** Abbreviations and acronyms border color
@abbr-border-color:           @gray-light;
//** Headings small color
@headings-small-color:        @gray-light;
//** Blockquote padding
@blockquote-padding:          (@line-height-computed / 2) 0;
//** Blockquote font size
@blockquote-font-size:        (@font-size-base * 1.25);
//** Blockquote color
@blockquote-color:            #f7de72;
//** Page header border color
@page-header-border-color:    @gray-lighter;
//** Width of horizontal description list titles
@dl-horizontal-offset:        @component-offset-horizontal;
//** Horizontal line color.
@hr-border:                   @gray-lighter;